* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

@font-face{
  font-family: 'GmarketSansBD';
  src: url(../public/fonts/GmarketSansBold.otf);
  font-weight: 800;
}
@font-face{
  font-family: 'GmarketSansL';
  src: url(../public/fonts/GmarketSansLight.otf);
  font-weight: 800;
}
@font-face{
  font-family: 'GmarketSansM';
  src: url(../public/fonts/GmarketSansMedium.otf);
  font-weight: 800;
}
@font-face {
  font-family: 'FredokaOne';
  src: url(../public/fonts/FredokaOne-Regular.ttf);
  font-weight: 400;
}