.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #367bf6;
  justify-content: center;
  align-items: center;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.searchWrapper button {
  position: absolute;
  right: 15%;
  top: 2.7rem;
}

.logo {
  display: flex;
  margin: 0 auto;
  color: white;
  font-size: 2rem;
  font-family: "GmarketSansBD";
  margin-top: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.inputDiv {
  display: flex;
  align-items: center;
  font-family: "GmarketSansBD";
  font-size: 1.5rem;
  height: 2.5rem;
  width: 80%;
  color: #666666;
  border-radius: 1rem;
  padding-left: 1rem;
  margin-top: 2rem;
  border: 0.15rem solid;
  background-color: white;
}

.inputDiv:focus {
  color: black;
}

.iconWrapper {
  display: flex;
  justify-content: space-evenly;
  /* padding: 10px; */
  min-height: 6rem;
}

.iconDiv {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
}

.iconDiv:hover {
  background-color: #00a3ff;
  transition: 0.3s ease;
  color: #666666;
}

.iconDiv:hover path {
  transition: 0.3s ease;
  fill: #00a3ff;
}

.iconDiv path {
  transition: 0.3s ease;
  fill: white;
}

.iconDiv span {
  color: white;
  font-family: GmarketSansBD;
}

.clickedIcon {
  background-color: #00a3ff;
  transition: 0.3s ease;
  color: #666666;
  background-color: white;
}

.clickedIcon path {
  fill: #367bf6;
  transition: 0.3s ease;
}

.clickedIcon span {
  color: #666666;
}

.iconDiv:hover path {
  transition: 0.3s ease;
  fill: white;
}

.navLogoWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  color: white;
}

.navContentWrapper {
  width: 100%;
  padding-top: 1rem;
}

.navButton {
  background-color: white;
  border: none;
  cursor: pointer;
}
