.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #367bf6;
  align-items: center;
}

.navColDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  fill: white;
  color: white;
  cursor: pointer;
}

.navLogo {
  display: flex;
  margin: 0 auto;
  color: white;
  font-size: 2rem;
  font-family: "GmarketSansBD";
  margin-top: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.navMenu {
  display: flex;
  position: absolute;
  right: 0;
  padding-top: 1rem;
  padding-right: 1rem;
}

.navSearchDiv {
  flex-grow: 1;
  position: relative;
}

.navSearchDiv input {
  border: none;
  padding: 0 15px;
  height: 3rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.navSearchDiv button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.navForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.navDiv {
  position: relative;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

.navButton {
  position: absolute;
  right: 2rem;
  background-color: white;
  border: none;
  cursor: pointer;
}

.navBasicDiv {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}
