.toggle-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  padding: 0 2rem;
  cursor: pointer;
  bottom: 10rem;
  justify-content: center;
  align-items: center;
}

.busName {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
}

.busName path {
  fill: blue;
}

.busInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: gray;
}

.modalContainer {
  display: flex;
  position: absolute;
  width: 600px;
  z-index: 990;
  padding: 2rem;
  left: 50%; /* 부모 대비 중앙 */
  bottom: 3rem;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%); /* 자신의 너비 대비 중앙 정렬 */
}
