.container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 75dvh;
  overflow: auto;
}

.container::-webkit-scrollbar {
  width: 0.7rem;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #c3c3c3;
}

.logoMent {
  font-family: "GmarketSansBD";
  font-size: 22px;
  text-align: center;
}

.container:first-child {
  display: flex;
  flex-direction: column;
}

.busInput {
  width: 30dvh;
  height: 3rem;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.resultWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 2rem;
  border-radius: 10px;
}

.resultCard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.5rem;
  border-bottom: 1px solid gray;
  height: 7rem;
  padding: 1rem 1rem;
  cursor: pointer;
}

.basicInfoWrapper {
  display: flex;
  gap: 2rem;
}

.pointWrapper {
  display: flex;
}

.intro {
  font-size: 22px;
  text-align: center;
}
